SoftInvWAProg3/SoftInvWAProg3/Connected Services/MaterialWS/MaterialWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.softinv.pucp.edu.pe/" targetNamespace="http://ws.softinv.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SQLException" type="tns:SQLException" />
  <xs:element name="buscarPorAnio" type="tns:buscarPorAnio" />
  <xs:element name="buscarPorAnioResponse" type="tns:buscarPorAnioResponse" />
  <xs:element name="buscarPorAutor" type="tns:buscarPorAutor" />
  <xs:element name="buscarPorAutorResponse" type="tns:buscarPorAutorResponse" />
  <xs:element name="buscarPorBiblioteca" type="tns:buscarPorBiblioteca" />
  <xs:element name="buscarPorBibliotecaResponse" type="tns:buscarPorBibliotecaResponse" />
  <xs:element name="buscarPorDisponibilidad" type="tns:buscarPorDisponibilidad" />
  <xs:element name="buscarPorDisponibilidadResponse" type="tns:buscarPorDisponibilidadResponse" />
  <xs:element name="buscarPorIdioma" type="tns:buscarPorIdioma" />
  <xs:element name="buscarPorIdiomaResponse" type="tns:buscarPorIdiomaResponse" />
  <xs:element name="buscarPorTema" type="tns:buscarPorTema" />
  <xs:element name="buscarPorTemaResponse" type="tns:buscarPorTemaResponse" />
  <xs:element name="buscarPorTipoMaterial" type="tns:buscarPorTipoMaterial" />
  <xs:element name="buscarPorTipoMaterialResponse" type="tns:buscarPorTipoMaterialResponse" />
  <xs:element name="buscarPorTitulo" type="tns:buscarPorTitulo" />
  <xs:element name="buscarPorTituloResponse" type="tns:buscarPorTituloResponse" />
  <xs:element name="eliminarMaterial" type="tns:eliminarMaterial" />
  <xs:element name="eliminarMaterialResponse" type="tns:eliminarMaterialResponse" />
  <xs:element name="insertarMaterial" type="tns:insertarMaterial" />
  <xs:element name="insertarMaterialResponse" type="tns:insertarMaterialResponse" />
  <xs:element name="listarTodosMateriales" type="tns:listarTodosMateriales" />
  <xs:element name="listarTodosMaterialesResponse" type="tns:listarTodosMaterialesResponse" />
  <xs:element name="materialBusquedaAvanzada" type="tns:materialBusquedaAvanzada" />
  <xs:element name="materialBusquedaAvanzadaResponse" type="tns:materialBusquedaAvanzadaResponse" />
  <xs:element name="modificarMaterial" type="tns:modificarMaterial" />
  <xs:element name="modificarMaterialResponse" type="tns:modificarMaterialResponse" />
  <xs:element name="obtenerCopias" type="tns:obtenerCopias" />
  <xs:element name="obtenerCopiasResponse" type="tns:obtenerCopiasResponse" />
  <xs:element name="obtenerEjemplaresReservadosYDisponibles" type="tns:obtenerEjemplaresReservadosYDisponibles" />
  <xs:element name="obtenerEjemplaresReservadosYDisponiblesResponse" type="tns:obtenerEjemplaresReservadosYDisponiblesResponse" />
  <xs:element name="obtenerMaterialPorId" type="tns:obtenerMaterialPorId" />
  <xs:element name="obtenerMaterialPorIdResponse" type="tns:obtenerMaterialPorIdResponse" />
  <xs:complexType name="libroDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:materialDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="edicion" type="xs:string" />
          <xs:element minOccurs="0" name="editorial" type="xs:string" />
          <xs:element minOccurs="0" name="isbn" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="materialDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="anioPublicacion" type="xs:int" />
      <xs:element minOccurs="0" name="autor" type="xs:string" />
      <xs:element minOccurs="0" name="idioma" type="xs:string" />
      <xs:element minOccurs="0" name="materialId" type="xs:int" />
      <xs:element minOccurs="0" name="numeroPaginas" type="xs:int" />
      <xs:element minOccurs="0" name="tema" type="xs:string" />
      <xs:element minOccurs="0" name="tipoMaterial" type="tns:tipoMaterial" />
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="articuloDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:materialDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="editorial" type="xs:string" />
          <xs:element minOccurs="0" name="issn" type="xs:string" />
          <xs:element minOccurs="0" name="nombreRevista" type="xs:string" />
          <xs:element minOccurs="0" name="numero" type="xs:int" />
          <xs:element minOccurs="0" name="volumen" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="tesisDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:materialDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="asesorTesis" type="xs:string" />
          <xs:element minOccurs="0" name="especialidad" type="xs:string" />
          <xs:element minOccurs="0" name="grado" type="tns:grado" />
          <xs:element minOccurs="0" name="nombreInstitucionPublicacion" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="buscarPorBiblioteca">
    <xs:sequence>
      <xs:element minOccurs="0" name="autor" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarPorBibliotecaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:materialDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SQLException">
    <xs:sequence>
      <xs:element minOccurs="0" name="SQLState" type="xs:string" />
      <xs:element name="errorCode" type="xs:int" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
      <xs:element minOccurs="0" name="nextException" type="tns:sqlException" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sqlException">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:exception">
        <xs:sequence>
          <xs:element minOccurs="0" name="nextException" type="tns:sqlException" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="exception">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:throwable">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="throwable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="stackTrace" nillable="true" type="tns:stackTraceElement" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="stackTraceElement" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="modificarMaterial">
    <xs:sequence>
      <xs:element minOccurs="0" name="material" type="tns:materialDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarMaterialResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosMateriales">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosMaterialesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:materialDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarPorTipoMaterial">
    <xs:sequence>
      <xs:element minOccurs="0" name="autor" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarPorTipoMaterialResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:materialDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerEjemplaresReservadosYDisponibles">
    <xs:sequence>
      <xs:element name="materialId" type="xs:int" />
      <xs:element name="bibliotecaId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerEjemplaresReservadosYDisponiblesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="materialBusquedaAvanzada">
    <xs:sequence>
      <xs:element minOccurs="0" name="busquedaAvanzada" type="tns:materialDTO" />
      <xs:element minOccurs="0" name="biblioteca" type="tns:bibliotecaDTO" />
      <xs:element minOccurs="0" name="ejemplar" type="tns:ejemplarDTO" />
      <xs:element minOccurs="0" name="stringDato" type="xs:string" />
      <xs:element minOccurs="0" name="stringTipoMaterial" type="xs:string" />
      <xs:element minOccurs="0" name="stringDisponibilidad" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="bibliotecaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="bibliotecaId" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="ubicacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ejemplarDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="biblioteca" type="tns:bibliotecaDTO" />
      <xs:element minOccurs="0" name="ejemplarId" type="xs:int" />
      <xs:element minOccurs="0" name="eliminable" type="xs:boolean" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoEjemplar" />
      <xs:element minOccurs="0" name="locacionEnBiblioteca" type="xs:string" />
      <xs:element minOccurs="0" name="material" type="tns:materialDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="materialBusquedaAvanzadaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:materialDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerMaterialPorId">
    <xs:sequence>
      <xs:element name="materialId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerMaterialPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:materialDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarPorAnio">
    <xs:sequence>
      <xs:element minOccurs="0" name="autor" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarPorAnioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:materialDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarPorIdioma">
    <xs:sequence>
      <xs:element minOccurs="0" name="autor" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarPorIdiomaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:materialDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarPorDisponibilidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="autor" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarPorDisponibilidadResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:materialDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarPorAutor">
    <xs:sequence>
      <xs:element minOccurs="0" name="autor" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarPorAutorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:materialDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarPorTitulo">
    <xs:sequence>
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarPorTituloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:materialDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarPorTema">
    <xs:sequence>
      <xs:element minOccurs="0" name="autor" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarPorTemaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:materialDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerCopias">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerCopiasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarMaterial">
    <xs:sequence>
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
      <xs:element minOccurs="0" name="autor" type="xs:string" />
      <xs:element minOccurs="0" name="tema" type="xs:string" />
      <xs:element minOccurs="0" name="idioma" type="xs:string" />
      <xs:element minOccurs="0" name="tipo" type="xs:string" />
      <xs:element minOccurs="0" name="anioStr" type="xs:string" />
      <xs:element minOccurs="0" name="numeroPaginasStr" type="xs:string" />
      <xs:element minOccurs="0" name="isbnLibro" type="xs:string" />
      <xs:element minOccurs="0" name="editorialLibro" type="xs:string" />
      <xs:element minOccurs="0" name="edicionLibro" type="xs:string" />
      <xs:element minOccurs="0" name="issnArticulo" type="xs:string" />
      <xs:element minOccurs="0" name="revistaArticulo" type="xs:string" />
      <xs:element minOccurs="0" name="editorialArticulo" type="xs:string" />
      <xs:element minOccurs="0" name="volumenArticulo" type="xs:string" />
      <xs:element minOccurs="0" name="numeroArticulo" type="xs:string" />
      <xs:element minOccurs="0" name="institucionTesis" type="xs:string" />
      <xs:element minOccurs="0" name="asesorTesis" type="xs:string" />
      <xs:element minOccurs="0" name="especialidadTesis" type="xs:string" />
      <xs:element minOccurs="0" name="gradoTesis" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarMaterialResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarMaterial">
    <xs:sequence>
      <xs:element name="idMaterial" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarMaterialResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="tipoMaterial">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LIBRO" />
      <xs:enumeration value="ARTICULO" />
      <xs:enumeration value="TESIS" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="grado">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PREGRADO" />
      <xs:enumeration value="POSGRADO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoEjemplar">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DISPONIBLE" />
      <xs:enumeration value="PRESTADO" />
      <xs:enumeration value="EN_REPARACION" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>