SoftInvWAProg3/SoftInvWAProg3/Connected Services/CirculacionWS/CirculacionWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.softinv.pucp.edu.pe/" targetNamespace="http://ws.softinv.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ParseException" type="tns:ParseException" />
  <xs:element name="SQLException" type="tns:SQLException" />
  <xs:element name="buscarCirculacionesAvanzado" type="tns:buscarCirculacionesAvanzado" />
  <xs:element name="buscarCirculacionesAvanzadoResponse" type="tns:buscarCirculacionesAvanzadoResponse" />
  <xs:element name="eliminarCirculacion" type="tns:eliminarCirculacion" />
  <xs:element name="eliminarCirculacionResponse" type="tns:eliminarCirculacionResponse" />
  <xs:element name="insertarCirculacion" type="tns:insertarCirculacion" />
  <xs:element name="insertarCirculacionResponse" type="tns:insertarCirculacionResponse" />
  <xs:element name="listarPrestamosPorUsuario" type="tns:listarPrestamosPorUsuario" />
  <xs:element name="listarPrestamosPorUsuarioResponse" type="tns:listarPrestamosPorUsuarioResponse" />
  <xs:element name="listarTodasCirculaciones" type="tns:listarTodasCirculaciones" />
  <xs:element name="listarTodasCirculacionesResponse" type="tns:listarTodasCirculacionesResponse" />
  <xs:element name="modificarCirculacion" type="tns:modificarCirculacion" />
  <xs:element name="modificarCirculacionResponse" type="tns:modificarCirculacionResponse" />
  <xs:element name="obtenerCirculacionPorId" type="tns:obtenerCirculacionPorId" />
  <xs:element name="obtenerCirculacionPorIdResponse" type="tns:obtenerCirculacionPorIdResponse" />
  <xs:complexType name="modificarCirculacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="circulacion" type="tns:circulacionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="circulacionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="circulacionId" type="xs:int" />
      <xs:element minOccurs="0" name="ejemplar" type="tns:ejemplarDTO" />
      <xs:element minOccurs="0" name="estadoPrestamo" type="tns:estadoPrestamo" />
      <xs:element minOccurs="0" name="fechaDevolucion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaPrestamo" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaVencimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="reserva" type="tns:reservaDTO" />
      <xs:element minOccurs="0" name="usuario" type="tns:usuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ejemplarDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="biblioteca" type="tns:bibliotecaDTO" />
      <xs:element minOccurs="0" name="ejemplarId" type="xs:int" />
      <xs:element minOccurs="0" name="eliminable" type="xs:boolean" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoEjemplar" />
      <xs:element minOccurs="0" name="locacionEnBiblioteca" type="xs:string" />
      <xs:element minOccurs="0" name="material" type="tns:materialDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="bibliotecaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="bibliotecaId" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="ubicacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="materialDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="anioPublicacion" type="xs:int" />
      <xs:element minOccurs="0" name="autor" type="xs:string" />
      <xs:element minOccurs="0" name="idioma" type="xs:string" />
      <xs:element minOccurs="0" name="materialId" type="xs:int" />
      <xs:element minOccurs="0" name="numeroPaginas" type="xs:int" />
      <xs:element minOccurs="0" name="tema" type="xs:string" />
      <xs:element minOccurs="0" name="tipoMaterial" type="tns:tipoMaterial" />
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reservaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="estadoReserva" type="tns:estadoReserva" />
      <xs:element minOccurs="0" name="fechaReserva" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaVencimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="material" type="tns:materialDTO" />
      <xs:element minOccurs="0" name="reservaId" type="xs:int" />
      <xs:element minOccurs="0" name="usuario" type="tns:usuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoUniversitario" type="xs:string" />
      <xs:element minOccurs="0" name="correoElectronico" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoUsuario" />
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
      <xs:element minOccurs="0" name="numeroDocumento" type="xs:string" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element minOccurs="0" name="primerApellido" type="xs:string" />
      <xs:element minOccurs="0" name="segundoApellido" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDocumento" type="tns:tipoDocumento" />
      <xs:element minOccurs="0" name="tipoUsuario" type="tns:tipoUsuarioDTO" />
      <xs:element minOccurs="0" name="usuarioId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoUsuarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="numeroMaxDias" type="xs:int" />
      <xs:element minOccurs="0" name="numeroMaxItems" type="xs:int" />
      <xs:element minOccurs="0" name="tipoUsuarioId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarCirculacionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SQLException">
    <xs:sequence>
      <xs:element minOccurs="0" name="SQLState" type="xs:string" />
      <xs:element name="errorCode" type="xs:int" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
      <xs:element minOccurs="0" name="nextException" type="tns:sqlException" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sqlException">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:exception">
        <xs:sequence>
          <xs:element minOccurs="0" name="nextException" type="tns:sqlException" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="exception">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:throwable">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="throwable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="stackTrace" nillable="true" type="tns:stackTraceElement" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="stackTraceElement" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerCirculacionPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="idCirculacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerCirculacionPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:circulacionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarCirculacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="circulacion" type="tns:circulacionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarCirculacionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCirculacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="idCirculacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCirculacionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPrestamosPorUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuarioId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPrestamosPorUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:circulacionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarCirculacionesAvanzado">
    <xs:sequence>
      <xs:element minOccurs="0" name="idCirculacion" type="xs:string" />
      <xs:element minOccurs="0" name="idReserva" type="xs:string" />
      <xs:element minOccurs="0" name="idUsuario" type="xs:string" />
      <xs:element minOccurs="0" name="idEjemplar" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="xs:string" />
      <xs:element minOccurs="0" name="fechaDesde" type="xs:string" />
      <xs:element minOccurs="0" name="fechaHasta" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarCirculacionesAvanzadoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:circulacionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ParseException">
    <xs:sequence>
      <xs:element name="errorOffset" type="xs:int" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodasCirculaciones">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodasCirculacionesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:circulacionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estadoEjemplar">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DISPONIBLE" />
      <xs:enumeration value="PRESTADO" />
      <xs:enumeration value="EN_REPARACION" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoMaterial">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LIBRO" />
      <xs:enumeration value="ARTICULO" />
      <xs:enumeration value="TESIS" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoPrestamo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="VIGENTE" />
      <xs:enumeration value="DEVUELTO_A_TIEMPO" />
      <xs:enumeration value="DEVUELTO_CON_RETRASO" />
      <xs:enumeration value="DEVUELTO_DANADO_O_PERDIDO" />
      <xs:enumeration value="DEVUELTO_RETRASO_Y_DANO_PERDIDA" />
      <xs:enumeration value="NO_DEVUELTO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoReserva">
    <xs:restriction base="xs:string">
      <xs:enumeration value="VIGENTE" />
      <xs:enumeration value="VENCIDA" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoUsuario">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACTIVO" />
      <xs:enumeration value="SANCIONADO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoDocumento">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DNI" />
      <xs:enumeration value="PASAPORTE" />
      <xs:enumeration value="CARNET_DE_EXTRANJERIA" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>