SoftInvWAProg3/SoftInvWAProg3/Connected Services/UsuarioWS/UsuarioWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.softinv.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="UsuarioWS" targetNamespace="http://ws.softinv.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftInvWSProg3/UsuarioWS?xsd=1" namespace="http://ws.softinv.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="obtenerUsuarioPorId">
    <part name="parameters" element="tns:obtenerUsuarioPorId" />
  </message>
  <message name="obtenerUsuarioPorIdResponse">
    <part name="parameters" element="tns:obtenerUsuarioPorIdResponse" />
  </message>
  <message name="SQLException">
    <part name="fault" element="tns:SQLException" />
  </message>
  <message name="insertarUsuario">
    <part name="parameters" element="tns:insertarUsuario" />
  </message>
  <message name="insertarUsuarioResponse">
    <part name="parameters" element="tns:insertarUsuarioResponse" />
  </message>
  <message name="validarUsuario">
    <part name="parameters" element="tns:validarUsuario" />
  </message>
  <message name="validarUsuarioResponse">
    <part name="parameters" element="tns:validarUsuarioResponse" />
  </message>
  <message name="buscarUsuariosAvanzado">
    <part name="parameters" element="tns:buscarUsuariosAvanzado" />
  </message>
  <message name="buscarUsuariosAvanzadoResponse">
    <part name="parameters" element="tns:buscarUsuariosAvanzadoResponse" />
  </message>
  <portType name="UsuarioWS">
    <operation name="obtenerUsuarioPorId">
      <input wsam:Action="http://ws.softinv.pucp.edu.pe/UsuarioWS/obtenerUsuarioPorIdRequest" message="tns:obtenerUsuarioPorId" />
      <output wsam:Action="http://ws.softinv.pucp.edu.pe/UsuarioWS/obtenerUsuarioPorIdResponse" message="tns:obtenerUsuarioPorIdResponse" />
      <fault wsam:Action="http://ws.softinv.pucp.edu.pe/UsuarioWS/obtenerUsuarioPorId/Fault/SQLException" name="SQLException" message="tns:SQLException" />
    </operation>
    <operation name="insertarUsuario">
      <input wsam:Action="http://ws.softinv.pucp.edu.pe/UsuarioWS/insertarUsuarioRequest" message="tns:insertarUsuario" />
      <output wsam:Action="http://ws.softinv.pucp.edu.pe/UsuarioWS/insertarUsuarioResponse" message="tns:insertarUsuarioResponse" />
      <fault wsam:Action="http://ws.softinv.pucp.edu.pe/UsuarioWS/insertarUsuario/Fault/SQLException" name="SQLException" message="tns:SQLException" />
    </operation>
    <operation name="validarUsuario">
      <input wsam:Action="http://ws.softinv.pucp.edu.pe/UsuarioWS/validarUsuarioRequest" message="tns:validarUsuario" />
      <output wsam:Action="http://ws.softinv.pucp.edu.pe/UsuarioWS/validarUsuarioResponse" message="tns:validarUsuarioResponse" />
      <fault wsam:Action="http://ws.softinv.pucp.edu.pe/UsuarioWS/validarUsuario/Fault/SQLException" name="SQLException" message="tns:SQLException" />
    </operation>
    <operation name="buscarUsuariosAvanzado">
      <input wsam:Action="http://ws.softinv.pucp.edu.pe/UsuarioWS/buscarUsuariosAvanzadoRequest" message="tns:buscarUsuariosAvanzado" />
      <output wsam:Action="http://ws.softinv.pucp.edu.pe/UsuarioWS/buscarUsuariosAvanzadoResponse" message="tns:buscarUsuariosAvanzadoResponse" />
    </operation>
  </portType>
  <binding name="UsuarioWSPortBinding" type="tns:UsuarioWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="obtenerUsuarioPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SQLException">
        <soap:fault use="literal" name="SQLException" namespace="" />
      </fault>
    </operation>
    <operation name="insertarUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SQLException">
        <soap:fault use="literal" name="SQLException" namespace="" />
      </fault>
    </operation>
    <operation name="validarUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SQLException">
        <soap:fault use="literal" name="SQLException" namespace="" />
      </fault>
    </operation>
    <operation name="buscarUsuariosAvanzado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="UsuarioWS">
    <port name="UsuarioWSPort" binding="tns:UsuarioWSPortBinding">
      <soap:address location="http://localhost:8080/SoftInvWSProg3/UsuarioWS" />
    </port>
  </service>
</definitions>