PD/FE/SoftInvWAProg3/Connected Services/servicios/DiaAtencionWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.pucp.edu.pe" targetNamespace="http://services.pucp.edu.pe" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SQLException" type="tns:SQLException" />
  <xs:element name="listarDiasAtencionPorBiblioteca" type="tns:listarDiasAtencionPorBiblioteca" />
  <xs:element name="listarDiasAtencionPorBibliotecaResponse" type="tns:listarDiasAtencionPorBibliotecaResponse" />
  <xs:element name="listarTodosDiasAtencion" type="tns:listarTodosDiasAtencion" />
  <xs:element name="listarTodosDiasAtencionResponse" type="tns:listarTodosDiasAtencionResponse" />
  <xs:element name="obtenerDiaAtencionPorId" type="tns:obtenerDiaAtencionPorId" />
  <xs:element name="obtenerDiaAtencionPorIdResponse" type="tns:obtenerDiaAtencionPorIdResponse" />
  <xs:complexType name="listarTodosDiasAtencion">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosDiasAtencionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:diaAtencionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="diaAtencionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="biblioteca" type="tns:bibliotecaDTO" />
      <xs:element minOccurs="0" name="diaAtencionId" type="xs:int" />
      <xs:element minOccurs="0" name="horaFinAtencion" type="tns:localTime" />
      <xs:element minOccurs="0" name="horaInicioAtencion" type="tns:localTime" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="bibliotecaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="bibliotecaId" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="ubicacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="localTime" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="SQLException">
    <xs:sequence>
      <xs:element minOccurs="0" name="SQLState" type="xs:string" />
      <xs:element name="errorCode" type="xs:int" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
      <xs:element minOccurs="0" name="nextException" type="tns:sqlException" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sqlException">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:exception">
        <xs:sequence>
          <xs:element minOccurs="0" name="nextException" type="tns:sqlException" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="exception">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:throwable">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="throwable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="stackTrace" nillable="true" type="tns:stackTraceElement" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="stackTraceElement" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerDiaAtencionPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="idDiaAtencion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerDiaAtencionPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:diaAtencionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarDiasAtencionPorBiblioteca">
    <xs:sequence>
      <xs:element minOccurs="0" name="idBiblioteca" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarDiasAtencionPorBibliotecaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:diaAtencionDTO" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>