PD/FE/SoftInvWAProg3/Connected Services/servicios/ReservaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.pucp.edu.pe" targetNamespace="http://services.pucp.edu.pe" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Exception" type="tns:Exception" />
  <xs:element name="SQLException" type="tns:SQLException" />
  <xs:element name="buscarReservasAvanzado" type="tns:buscarReservasAvanzado" />
  <xs:element name="buscarReservasAvanzadoResponse" type="tns:buscarReservasAvanzadoResponse" />
  <xs:element name="calcularFechaVencimientoReserva" type="tns:calcularFechaVencimientoReserva" />
  <xs:element name="calcularFechaVencimientoReservaResponse" type="tns:calcularFechaVencimientoReservaResponse" />
  <xs:element name="eliminarReserva" type="tns:eliminarReserva" />
  <xs:element name="eliminarReservaResponse" type="tns:eliminarReservaResponse" />
  <xs:element name="insertarReserva" type="tns:insertarReserva" />
  <xs:element name="insertarReservaResponse" type="tns:insertarReservaResponse" />
  <xs:element name="listarReservasVigentesPorUsuario" type="tns:listarReservasVigentesPorUsuario" />
  <xs:element name="listarReservasVigentesPorUsuarioResponse" type="tns:listarReservasVigentesPorUsuarioResponse" />
  <xs:element name="listarTodasReservas" type="tns:listarTodasReservas" />
  <xs:element name="listarTodasReservasResponse" type="tns:listarTodasReservasResponse" />
  <xs:element name="modificarReserva" type="tns:modificarReserva" />
  <xs:element name="modificarReservaResponse" type="tns:modificarReservaResponse" />
  <xs:element name="obtenerReservaPorId" type="tns:obtenerReservaPorId" />
  <xs:element name="obtenerReservaPorIdResponse" type="tns:obtenerReservaPorIdResponse" />
  <xs:element name="obtenerTipoDeMaterialPorId" type="tns:obtenerTipoDeMaterialPorId" />
  <xs:element name="obtenerTipoDeMaterialPorIdResponse" type="tns:obtenerTipoDeMaterialPorIdResponse" />
  <xs:complexType name="listarTodasReservas">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodasReservasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:reservaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reservaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="estadoReserva" type="tns:estadoReserva" />
      <xs:element minOccurs="0" name="fechaReserva" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaVencimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="material" type="tns:materialDTO" />
      <xs:element minOccurs="0" name="reservaId" type="xs:int" />
      <xs:element minOccurs="0" name="usuario" type="tns:usuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="materialDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="anioPublicacion" type="xs:int" />
      <xs:element minOccurs="0" name="autor" type="xs:string" />
      <xs:element minOccurs="0" name="idioma" type="xs:string" />
      <xs:element minOccurs="0" name="materialId" type="xs:int" />
      <xs:element minOccurs="0" name="numeroPaginas" type="xs:int" />
      <xs:element minOccurs="0" name="tema" type="xs:string" />
      <xs:element minOccurs="0" name="tipoMaterial" type="tns:tipoMaterial" />
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoUniversitario" type="xs:string" />
      <xs:element minOccurs="0" name="correoElectronico" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoUsuario" />
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
      <xs:element minOccurs="0" name="numeroDocumento" type="xs:string" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element minOccurs="0" name="primerApellido" type="xs:string" />
      <xs:element minOccurs="0" name="segundoApellido" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDocumento" type="tns:tipoDocumento" />
      <xs:element minOccurs="0" name="tipoUsuario" type="tns:tipoUsuarioDTO" />
      <xs:element minOccurs="0" name="usuarioId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoUsuarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="numeroMaxDias" type="xs:int" />
      <xs:element minOccurs="0" name="numeroMaxItems" type="xs:int" />
      <xs:element minOccurs="0" name="tipoUsuarioId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SQLException">
    <xs:sequence>
      <xs:element minOccurs="0" name="SQLState" type="xs:string" />
      <xs:element name="errorCode" type="xs:int" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
      <xs:element minOccurs="0" name="nextException" type="tns:sqlException" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sqlException">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:exception">
        <xs:sequence>
          <xs:element minOccurs="0" name="nextException" type="tns:sqlException" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="exception">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:throwable">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="throwable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="stackTrace" nillable="true" type="tns:stackTraceElement" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="stackTraceElement" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerReservaPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="idReserva" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerReservaPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:reservaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarReserva">
    <xs:sequence>
      <xs:element minOccurs="0" name="idReserva" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarReservaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarReservasVigentesPorUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuarioId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarReservasVigentesPorUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:reservaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarReservasAvanzado">
    <xs:sequence>
      <xs:element minOccurs="0" name="reservaId" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioNombre" type="xs:string" />
      <xs:element minOccurs="0" name="materialTitulo" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="xs:string" />
      <xs:element minOccurs="0" name="fechaDesde" type="xs:string" />
      <xs:element minOccurs="0" name="fechaHasta" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarReservasAvanzadoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:reservaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerTipoDeMaterialPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="idMaterial" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerTipoDeMaterialPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarReserva">
    <xs:sequence>
      <xs:element minOccurs="0" name="reserva" type="tns:reservaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarReservaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="calcularFechaVencimientoReserva">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechaReserva" type="xs:dateTime" />
      <xs:element minOccurs="0" name="bibliotecaId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="calcularFechaVencimientoReservaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarReserva">
    <xs:sequence>
      <xs:element minOccurs="0" name="reserva" type="tns:reservaDTO" />
      <xs:element minOccurs="0" name="bibliotecaId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarReservaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estadoReserva">
    <xs:restriction base="xs:string">
      <xs:enumeration value="VIGENTE" />
      <xs:enumeration value="VENCIDA" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoMaterial">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LIBRO" />
      <xs:enumeration value="ARTICULO" />
      <xs:enumeration value="TESIS" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoUsuario">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACTIVO" />
      <xs:enumeration value="SANCIONADO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoDocumento">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DNI" />
      <xs:enumeration value="PASAPORTE" />
      <xs:enumeration value="CARNET_DE_EXTRANJERIA" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>