PD/FE/SoftInvWAProg3/Connected Services/servicios/SancionWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.pucp.edu.pe" targetNamespace="http://services.pucp.edu.pe" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="buscarSancionesFlexible" type="tns:buscarSancionesFlexible" />
  <xs:element name="buscarSancionesFlexibleResponse" type="tns:buscarSancionesFlexibleResponse" />
  <xs:element name="insertarSancion" type="tns:insertarSancion" />
  <xs:element name="insertarSancionResponse" type="tns:insertarSancionResponse" />
  <xs:element name="listarSanciones" type="tns:listarSanciones" />
  <xs:element name="listarSancionesResponse" type="tns:listarSancionesResponse" />
  <xs:element name="obtenerPorCirculacion" type="tns:obtenerPorCirculacion" />
  <xs:element name="obtenerPorCirculacionResponse" type="tns:obtenerPorCirculacionResponse" />
  <xs:element name="obtenerPorId" type="tns:obtenerPorId" />
  <xs:element name="obtenerPorIdResponse" type="tns:obtenerPorIdResponse" />
  <xs:element name="vistaPreviaNuevaSancion" type="tns:vistaPreviaNuevaSancion" />
  <xs:element name="vistaPreviaNuevaSancionResponse" type="tns:vistaPreviaNuevaSancionResponse" />
  <xs:complexType name="listarSanciones">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarSancionesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:sancionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sancionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="circulacion" type="tns:circulacionDTO" />
      <xs:element minOccurs="0" name="diasSancion" type="xs:int" />
      <xs:element minOccurs="0" name="fechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaTermino" type="xs:dateTime" />
      <xs:element minOccurs="0" name="observacion" type="xs:string" />
      <xs:element minOccurs="0" name="sancionId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="circulacionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="circulacionId" type="xs:int" />
      <xs:element minOccurs="0" name="ejemplar" type="tns:ejemplarDTO" />
      <xs:element minOccurs="0" name="estadoPrestamo" type="tns:estadoPrestamo" />
      <xs:element minOccurs="0" name="fechaDevolucion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaPrestamo" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaVencimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="reserva" type="tns:reservaDTO" />
      <xs:element minOccurs="0" name="usuario" type="tns:usuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ejemplarDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="biblioteca" type="tns:bibliotecaDTO" />
      <xs:element minOccurs="0" name="ejemplarId" type="xs:int" />
      <xs:element minOccurs="0" name="eliminable" type="xs:boolean" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoEjemplar" />
      <xs:element minOccurs="0" name="locacionEnBiblioteca" type="xs:string" />
      <xs:element minOccurs="0" name="material" type="tns:materialDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="bibliotecaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="bibliotecaId" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="ubicacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="materialDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="anioPublicacion" type="xs:int" />
      <xs:element minOccurs="0" name="autor" type="xs:string" />
      <xs:element minOccurs="0" name="idioma" type="xs:string" />
      <xs:element minOccurs="0" name="materialId" type="xs:int" />
      <xs:element minOccurs="0" name="numeroPaginas" type="xs:int" />
      <xs:element minOccurs="0" name="tema" type="xs:string" />
      <xs:element minOccurs="0" name="tipoMaterial" type="tns:tipoMaterial" />
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reservaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="estadoReserva" type="tns:estadoReserva" />
      <xs:element minOccurs="0" name="fechaReserva" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaVencimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="material" type="tns:materialDTO" />
      <xs:element minOccurs="0" name="reservaId" type="xs:int" />
      <xs:element minOccurs="0" name="usuario" type="tns:usuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoUniversitario" type="xs:string" />
      <xs:element minOccurs="0" name="correoElectronico" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoUsuario" />
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
      <xs:element minOccurs="0" name="numeroDocumento" type="xs:string" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element minOccurs="0" name="primerApellido" type="xs:string" />
      <xs:element minOccurs="0" name="segundoApellido" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDocumento" type="tns:tipoDocumento" />
      <xs:element minOccurs="0" name="tipoUsuario" type="tns:tipoUsuarioDTO" />
      <xs:element minOccurs="0" name="usuarioId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoUsuarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="numeroMaxDias" type="xs:int" />
      <xs:element minOccurs="0" name="numeroMaxItems" type="xs:int" />
      <xs:element minOccurs="0" name="tipoUsuarioId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorCirculacion">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorCirculacionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:sancionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="vistaPreviaNuevaSancion">
    <xs:sequence>
      <xs:element name="idCirculacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="vistaPreviaNuevaSancionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:sancionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarSancion">
    <xs:sequence>
      <xs:element minOccurs="0" name="sancion" type="tns:sancionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarSancionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorId">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:sancionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarSancionesFlexible">
    <xs:sequence>
      <xs:element minOccurs="0" name="sancionId" type="xs:string" />
      <xs:element minOccurs="0" name="circulacionId" type="xs:string" />
      <xs:element minOccurs="0" name="fechaDesde" type="xs:string" />
      <xs:element minOccurs="0" name="fechaHasta" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarSancionesFlexibleResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:sancionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estadoEjemplar">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DISPONIBLE" />
      <xs:enumeration value="PRESTADO" />
      <xs:enumeration value="EN_REPARACION" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoMaterial">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LIBRO" />
      <xs:enumeration value="ARTICULO" />
      <xs:enumeration value="TESIS" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoPrestamo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="VIGENTE" />
      <xs:enumeration value="DEVUELTO_A_TIEMPO" />
      <xs:enumeration value="DEVUELTO_CON_RETRASO" />
      <xs:enumeration value="DEVUELTO_DANADO_O_PERDIDO" />
      <xs:enumeration value="DEVUELTO_RETRASO_Y_DANO_PERDIDA" />
      <xs:enumeration value="NO_DEVUELTO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoReserva">
    <xs:restriction base="xs:string">
      <xs:enumeration value="VIGENTE" />
      <xs:enumeration value="VENCIDA" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoUsuario">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACTIVO" />
      <xs:enumeration value="SANCIONADO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoDocumento">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DNI" />
      <xs:enumeration value="PASAPORTE" />
      <xs:enumeration value="CARNET_DE_EXTRANJERIA" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>